# dependencies
/node_modules

# Next.js
/.next/
/out/

# production
/build
/data/
/.native/

# testing
/coverage/
/.tmp/
/playwright-report/
/test-results/

# local environment
.env
.env.native
.env.local
.env.*.local
.env.docker-test

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
